<a href="https://colab.research.google.com/github/Ammu9392/deep-learning-lab-/blob/main/DL_EXP_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
samples={'jupiter has 79 known moons.','neptune has 14 confirmed moons!'}
token_index={}
counter=0

In [ ]:
for sample in samples:
  for considered_word in sample.split():
    if considered_word not in token_index:
      token_index[considered_word]=counter+1
      counter=counter+1

In [ ]:
print(token_index)
max_length=6
results=np.zeros(shape=(len(samples),max_length,max(token_index.values())+1))

{'jupiter': 1, 'has': 2, '79': 3, 'known': 4, 'moons.': 5, 'neptune': 6, '14': 7, 'confirmed': 8, 'moons!': 9}

In [ ]:
for i,sample in enumerate(samples):
  for j,considered_word in enumerate(sample.split()):
    index=token_index.get(considered_word)
    results[i,j,index]=1.
    print(list(enumerate(sample.split())))

[(0, 'jupiter'), (1, 'has'), (2, '79'), (3, 'known'), (4, 'moons.')]
[(0, 'jupiter'), (1, 'has'), (2, '79'), (3, 'known'), (4, 'moons.')]
[(0, 'jupiter'), (1, 'has'), (2, '79'), (3, 'known'), (4, 'moons.')]
[(0, 'jupiter'), (1, 'has'), (2, '79'), (3, 'known'), (4, 'moons.')]
[(0, 'jupiter'), (1, 'has'), (2, '79'), (3, 'known'), (4, 'moons.')]
[(0, 'neptune'), (1, 'has'), (2, '14'), (3, 'confirmed'), (4, 'moons!')]
[(0, 'neptune'), (1, 'has'), (2, '14'), (3, 'confirmed'), (4, 'moons!')]
[(0, 'neptune'), (1, 'has'), (2, '14'), (3, 'confirmed'), (4, 'moons!')]
[(0, 'neptune'), (1, 'has'), (2, '14'), (3, 'confirmed'), (4, 'moons!')]
[(0, 'neptune'), (1, 'has'), (2, '14'), (3, 'confirmed'), (4, 'moons!')]